<div class="adeluxe-modal-body">
    {{#message}}
        <p>{{message}}</p>
    {{/message}}
    {{^message}}
        <p>{{#str}} adeluxe_modal_default_message, __COMPONENT__ {{/str}}</p>
    {{/message}}
</div>
